﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Report.aspx.cs" Inherits="WebPractica.AppCode.reports.Report" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    </div>

        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="true" DataKeyNames="id" OnRowCancelingEdit="OnRowCancelingEdit" OnDataBound="OnDataBound" OnRowDeleting="OnRowDeleting" OnRowUpdating="OnRowupdating" OnRowDataBound="OnRowDataBound">
        </asp:GridView>
    </form>
</body>
</html>
