﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Sale.aspx.cs" Inherits="WebPractica.AppCode.Views.Sale" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>NUEVA VENTA</h1>
    <center>
        <asp:Label ID="Label1" runat="server" Text="Ingrese Nit"></asp:Label>
        <asp:TextBox ID="txtnit" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Agregar" OnClick="Button1_Click" style="height: 26px"></asp:Button>
    </center>
    </div>
    </form>
</body>
</html>
